<fieldset>
  <legend><i class="fa fa-angle-right"></i> Info Dealer</legend>
  <div class="form-group">
    <%= f.label :address, '', class: 'col-md-4 control-label' %>
    <div class="col-md-6">
      <%= f.text_area :address, rows: 4, class: 'form-control' %>
    </div>
  </div>
</fieldset>