<div class="cars_categories">
	<div class="pagination nalog">
		<%= paginate @dealers %>
	</div>
</div>
<div class="cars_id">
	<div class="id">Total <span>Dealers</span></div>
	<div class="views"><%= @dealers_count.size %> Dealers</div>
</div>
<h1><strong>List Dealers</strong></h1>