<h1><strong>Welcome</strong>  to our blog</h1>
<div class="blog">
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="blog_post">
		<a href="example" class="thumb">
			<img src="images/pics/blog.jpg" alt="">
		</a>
		<div class="blog_desc">
			<h4><a href="example">Here comes the blog title</a></h4>
			<div class="grey_area">
				<a href="example" class="blog_date">November 1, 2012</a>
				<a href="example" class="blog_author">Admin</a>
				<div class="blog_category">
					<a href="example">Cars</a>, 
					<a href="example">vehicle</a>
				</div>
				<a href="example" class="blog_comments">7 Comments</a>
			</div>
			<div class="post">
				<p>Lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, nisi id vulput ullamcoper lorem ipsum dolo stet consectetur adipiscing elit. Vestibulu dictum, ni id vulputate ullamcoper lorem ipsum dolo stet.</p>
			</div>
			<a href="example" class="more markered">Read more</a>
		</div>
	</div>
	<div class="pagination">
		<ul>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li class="space">...</li>
			<li><a href="#">8</a></li>
			<li class="next"><a href="#"><img src="images/page_next.gif" alt=""></a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>