<div class="profile_content">
	<h1 class="no_border"><strong>My</strong> cars</h1>
	<div class="search_cars">
		<a href="http://autodealer.winterjuice.com/profile/vehicles/add/" class="btn2" style="float:right;">Add auto</a>
		<div class="found_count">
			<span>Found:</span> 0 cars
			<span style="padding-left:30px;">Publish Limit:</span> 10 cars
		</div>
	</div>
	<div class="actions_cars">
		<a href="#" class="btn1" id="apply_actions">apply</a>
		<select class="text" id="select_action_car">
			<option value="0">Select action</option>
			<option value="car_republish">Republish</option>
			<option value="car_archive">Remove the archive</option>
		</select>
		<div class="label_select">Apply to the marked:</div>
		<div class="mark_all">
			<label><input type="checkbox" id="select_all_cars">Select all cars on the page</label>
		</div>
	</div>
	<div class="cars_list"></div>
	<div class="bottom_catalog_box">
		<div class="clear"></div>
	</div>
</div>
<div class="clear mb1"></div>