<div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="gi gi-warning_sign"></i>Form Validation<br /><small>Tools for easy form validation and user assist!</small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Forms</li>
    <li><a href="./page_forms_validation.php.html">Validation</a></li>
  </ul>
  <div class="row">
    <div class="col-md-12">
      <div class="block">
        <div class="block-title">
          <h2><strong>Form Validation</strong> Example</h2>
        </div>
        <fieldset>
          <legend><i class="fa fa-angle-right"></i> Category Info</legend>
          <div class="form-group">
            <label class="col-md-4 control-label" for="val_username">Name</label>
            <div class="col-md-6">
              <div class="input-group">
                <%= @category.name %>
                <span class="input-group-addon"><i class="gi gi-user"></i></span>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
