<div class="recent">
	<h2><strong>Featured</strong> Vehicles On Sale</h2>
	<div class="recent_carousel">
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
		<div class="slide">
			<a href="product">
				<img src="assets/pics/recent_blog_2.jpg" alt="" />
				<div class="description">
					<p>
						Registration 2010<br/>3.0 Diesel<br/>230 HP<br/>Body Coupe<br/>80 000 Miles
					</p>
				</div>
				<div class="title">
					<p>
						<span>Mercedes-Benz</span>
						<span class="price">$ 115 265</span>
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="banners">
	<div class="banner_1 main_banner">
		<div class="text_wrapper">
			<p class="title"><strong>Looking</strong> for a car?</p>
			<p class="desc">1.000 new offers every day. 35.000 offers on site</p>
		</div>
		<a href="./catalog">Search</a>
	</div>
	<div class="banner_2 main_banner">
		<div class="text_wrapper">
			<p class="title"><strong>Want</strong> to sell a car?</p>
			<p class="desc">200.000 visitors every day. Add your offer now!</p>
		</div>
		<a href="./add">Sell</a>
	</div>
</div>