<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">alamtopani@yahoo.com <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Setting</li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">SignOut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="top_info">
    <div class="logo">
      <a href="#">Oto<span>Town.com</span></a>
    </div>
    <div class="header_contacts">
    </div>
    <div class="socials">
      <a href="#"><img src="assets/fb_icon.png" alt="" /></a>
      <a href="#"><img src="assets/twitter_icon.png" alt="" /></a>
      <a href="#"><img src="assets/in_icon.png" alt="" /></a>
    </div>
  </div>
</div>