<div class="news_wrapper">
	<div class="news">
		<h2><strong>Latest</strong> news</h2>
		<div class="scrool">
			<div class="news_box">
				<a href="#" class="thumb">
					<img src="assets/pics/news_1.jpg" alt="" />
				</a>
				<h5><a href="#">UNOFFICIAL PORSCHE 918 SPYDER PRICING POPS UP</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p>
				</div>
			</div>
			<div class="news_box">
				<a href="#" class="thumb">
					<img src="assets/pics/news_1.jpg" alt="" />
				</a>
				<h5><a href="#">UNOFFICIAL PORSCHE 918 SPYDER PRICING POPS UP</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p>
				</div>
			</div>
			<div class="news_box">
				<a href="#" class="thumb">
					<img src="assets/pics/news_1.jpg" alt="" />
				</a>
				<h5><a href="#">UNOFFICIAL PORSCHE 918 SPYDER PRICING POPS UP</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p>
				</div>
			</div>
			<div class="news_box">
				<a href="#" class="thumb">
					<img src="assets/pics/news_2.jpg" alt="" />
				</a>
				<h5><a href="#">UNOFFICIAL PORSCHE 918 SPYDER PRICING POPS UP</a></h5>
				<div class="date"><span>November 1, 2012</span></div>
				<div class="post">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... </p>
				</div>
			</div>
		</div>
		<br>
		<div class="all_wrapper"><a href="#" class="all_news">All news</a></div>
	</div>
</div>