<div class="recent_blog">
	<h2><strong>Most </strong> Viewed dealers</h2>
	<div class="post_block">
		<a href="product" class="thumb"><img src="assets/pics/recent_blog_1.jpg" alt="" /></a>
		<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
		<div class="date"><span>November 1, 2012</span></div>
		<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
	</div>
	<div class="post_block">
		<a href="product" class="thumb"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
		<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
		<div class="date"><span>November 1, 2012</span></div>
		<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
	</div>
	<div class="post_block last">
		<a href="product" class="thumb"><img src="assets/pics/recent_blog_3.jpg" alt="" /></a>
		<h5><a href="example">THE IMPORTANCE OF LUXURY SUV SALES EXPLAINED</a></h5>
		<div class="date"><span>November 1, 2012</span></div>
		<div class="post"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit... Aliquam hendrerit sagittis urna,</p></div>
	</div>
	<div class="clear"></div>
</div>