<div class="sidebar">
	<div class="widget_divider"></div>
	<div class="widget">
		<h2><strong>Featured</strong> work</h2>
		<div class="thumb_box">
			<a href="#" class="thumb"><img src="images/pics/widget.jpg" alt=""></a>
		</div>
		<div class="post">
			<p>Lorem ipsum dolo stet consectetur adipiscing elit vestibulu.</p>
		</div>
		<a href="#" class="more markered">Read more</a>
	</div>
	<div class="widget_divider"></div>
	<div class="widget">
		<h2><strong>Twitter</strong> feed</h2>
		<ul class="twitter_feed">
			<li>
				Lorem ipsum dolo at consecte adipiscing elit. Vestibul dictu, nisi id vulputate ullamcoper
				<a href="http://twitter.com/">http://automarket.com/twitter</a>
			</li>
			<li>
				Lorem ipsum dolo at consecte adipiscing elit. Vestibul dictu, nisi id vulputate ullamcoper
				<a href="http://twitter.com/">http://automarket.com/twitter</a>
			</li>
			<li class="last">
				Lorem ipsum dolo at consecte adipiscing elit. Vestibul dictu, nisi id vulputate ullamcoper
				<a href="http://twitter.com/">http://automarket.com/twitter</a>
			</li>
		</ul>
	</div>
	<div class="widget_divider"></div>
</div>