<div class="sidebar">
	<div class="widget widget-nav-profile">
		<h2><strong>Account</strong> menu</h2>
		<ul>
			<li class="active vehicles"><a href="/profile/vehicles/">My cars</a></li>
			<li class=" vehicles_archive"><a href="/profile/vehicles/archive/">Archive cars</a></li>
			<li class=" settings"><a href="/profile/settings/">Profile</a></li>
		</ul>
	</div>				
	<div id="dialog-request-dealer" title="I want to be a dealer" style="display:none;">
		<div style="">
			<div class="row">
				<label>Comment</label>
				<textarea name="comment" id="comment" class="text want_be_dealer_comment" style="margin-bottom:0;"></textarea>
			</div>
		</div>
	</div>
	<div class="widget widget-for-dealer">
		<a href="#" class="btn2 dialog_request_dealer">I want to be a dealer</a>
	</div>
</div>