<div class="sidebar">
	<div class="catalog_sidebar">
		<div class="widget grey car_widget back-white">
			<h2><strong>About</strong> us</h2>
			<div class="post">
				<img style="max-width:70px;float:left;margin-right:20px;" src="http://autodealer.winterjuice.com/wp-content/themes/winterjuice/framework/usr_data/user/41/138x138/41.jpg" alt="">
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="widget contacts_widget">
			<h2><strong>Contact</strong> details: Central Office</h2>
			<div class="addr detail">Germany, Der strasse, Berlin</div>
			<div class="email detail single_line">
				<a href="mailto:example@winterjuice.com" rel="moc/eciujretniw//elpmaxe" class="email_link_replace markered">example@winterjuice.com
				</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="widget schedule_widget">
			<h2><strong>Schedule</strong></h2>
			<ul class="schedule_widget_items">
				<li>
					Monday<span>08:00 - 17:00</span>
				</li>
				<li>
					Tuesday<span>08:00 - 17:00</span>
				</li>
				<li>
					Wednesday<span>08:00 - 17:00</span>
				</li>
				<li>
					Thursday<span>08:00 - 17:00</span>
				</li>
				<li>
					Friday<span>08:00 - 17:00</span>
				</li>
				<li>
					Saturday<span>10:00 - 16:00</span>
				</li>
				<li>
					Sunday<span>--:--</span>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>