<div class="tabs_wrapper home_tabs section">
	<ul class="tabs">
  	<li class="current">Dealers</li>
  	<li>Service Stations</li>
  	<li>Insurance</li>
		</ul>
		<div class="box visible">
			<a href="#" class="all">Show all...</a>
 		<div class="results"><span>Found 433 dealers</span></div>
 		<div class="clear"></div>
 		<div class="tabs_carousel">
   		<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
		</div>
	</div>
	<div class="box">
  	<a href="dealer" class="all">Show all...</a>
 		<div class="results"><span>Found 50 stations</span></div>
 		<div class="clear"></div>
 		<div class="tabs_carousel">
   		<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
		</div>
	</div>
	<div class="box">
  	<a href="dealer" class="all">Show all...</a>
 		<div class="results"><span>Found 10 incurances</span></div>
 		<div class="clear"></div>
 		<div class="tabs_carousel">
   		<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">St. Louis Auto Dealers</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Executive Cars Group</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Rim Wear</a>
			</div>
			<div class="slide">
				<a href="dealer" class="img"><img src="assets/pics/recent_blog_2.jpg" alt="" /></a>
				<a href="dealer" class="title">Dj Cruz’s Auto Sales</a>
			</div>
		</div>
	</div>
</div>